version: '3.2'

services:
   db:
      image: mysql:8.0
      command: --default-authentication-plugin=mysql_native_password
      container_name: Asgard
      restart: always
      volumes:
       - ./asgard-db:/var/lib/mysql
      working_dir: /var/lib/mysql
      ports:
       - '3306:3306'
       - '33060:33060'
      environment:
        MYSQL_ROOT_PASSWORD: 46365210Q

   app:
      depends_on:
       - db
      image: phpmyadmin/phpmyadmin
      container_name: phpmyadmin
      restart: always
      ports:
       - '8080:80'
      environment:
        PMA_HOST: db
